/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$darkGreen: #264653;
$green: #2a9d8f;
$yellow: #e9c46a;
$orange: #f4a261;
$red: #e76f51;
$grey: #f8f9fa;
$darkBlue: #22223b;


