/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

body{
    background-color: #EFEFEF;
}


main{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";
    

    @include xl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: main;
        background-color: #fff;
        margin-top: 100px;
        padding: 100px 16px;

    }
}