/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.footer-hidden{
    display: none;
}

.footer-active{
    display: block;
}


body{
    background-color: var(--lightGrey);
}

.content{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

    margin-bottom: 80px;

    @include md{
        margin-bottom: 115px;
    }

    @include lg{
        margin-bottom: 115px;
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: content;
    }
}