/* =============
    Typography
============= */

body{

    font-family: 'Montserrat', sans-serif;

    h1,h2,h3,h4{
        margin: 0;
        padding: 0;
    }
    
    p{
        margin: 0;
        padding: 0;
    }

    .title{
        font-weight: 300;
        font-size: rem-calc(35);
        margin: 24px 0;
    }
    
}

