#home {
    margin-top: 60px;

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". home .";
    >div {

        grid-area: home;

        @include lg {
            display: grid;
            grid-template-columns: 50% auto;
            // grid-template-areas: "info photo";
        }

        >aside {
            background-image: url("../img/home/hero-2.jpg");
            height: 100vh;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background-position: center;
            margin-bottom: 50px;
            position: relative;

            @include lg{
                // grid-area: photo;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 0;
            }

            h1{
                position: absolute;
                top:5%;
                color: var(--white);
                font-weight: 300;
                font-size: rem-calc(45);

                @include lg{
                    font-size: rem-calc(70);
                    top:15%;
                    left: 5%;
                }
            }

            >div {
                border-radius: 100%;
                background-color: var(--darkGreen);
                color: var(--white);
                height: 100px;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-bottom: -50px;
                
                @include md{
                    height: 150px;
                    width: 150px;
                }

                @include lg{
                    // align-items: flex-start;
                    margin-bottom: 0px;
                    margin-right: -75px;
                }

                h3{
                    font-size: rem-calc(14);
                    font-weight: 500;
                }
            }
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 56px;

            @include lg{
                // grid-area: info;
                padding-bottom: 0px;
            }
            >div{
                @include md{
                    width: 70%;
                }

                @include lg{
                    width: 50%;
                }

                h1{
                    font-weight: 300;
                    font-size: rem-calc(70);
                    margin-bottom: 24px;
                    color: var(--red)
                }

                h3{
                    font-weight: 500;
                }

                .home-content{
                    margin-top: 24px;
                    display: grid;
                    grid-template-columns: 20% auto;
                    

                    aside{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        

                        a:link, a:visited{
                            display: inline-block;
                            cursor: pointer;
                            
                        }

                        svg{
                            width: 40px;
                        }
                    }
                }

                #philosophy{
                    margin-top: 24px;
                }
            }
        }
    }
}