/* =============
    Header
============= */

header{
    position: fixed;
    background-color: $grey;
    width: 100%;
    filter: drop-shadow(2px 1px 4px rgba(0,0,0,0.25));
    top:0;
    left:0;

    >div{
        padding: 20px;
        display: flex;

        aside{
            a:link, a:visited{
                display: flex;
                color: $black;
 
                 &:hover, &:active{
                     color: $red;
                 }
 
                 i{
                     margin-right: 10px;
                 }
             }
        }

        nav{
            margin-left: auto;
        }
    }
}
