/* =============
    Header
============= */
header{
    padding: 24px;
    background-color: var(--white);
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    >div{
        display: grid;
        grid-template-columns: 50% auto;
        aside{
            svg{
                height: 50px;
                width: auto;
            }
        }

        nav{
            ul{
                li{
                    a:link, a:visited{

                        &:hover, &:active{

                        }
                    }
                }
            }
        }
    }
}