/* =============
    Navigation
============= */
a:link, a:visited{
    transition: 0.25s;
    text-decoration: none;

    &:hover, &:active{

    }
}


nav{
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        li{
            width: 100%;
            height: 100%;

            a:link, a:visited{
               display: flex;
               align-items: center;
               justify-content: center;
               color: var(--black);
               height: 100%;
               width: 100%;
               

                &:hover, &:active{
                    color: var(--red);
                }

                i{
                    margin-right: 10px;
                }
            }
        }
    }
}

.list-item-active{
    

    a:link, a:visited{
        font-weight: 600;
        color: var(--orange);

        &:hover, &:active{
            color: var(--orange);
        }
    }
}