/* =============
    Navigation
============= */
a:link, a:visited{
    transition: 0.25s;
    text-decoration: none;
    color:darkolivegreen;

    &:hover, &:active{
        color:slategrey
    }
}
